<section class="autos">
  <div class="autos-container container">
    <div class="autos-body box box--white">
      <h5 class="auto-title global-title">
        YOUR EUROPEAN AUTO EXPERTS
      </h5>
      <p class="autos-text global-text">
        When you <a href="#" class="global-link">visit World Class Auto</a>, you’re guaranteed the highest quality service possible. Our mechanics have decades of experience maintaining the area’s most popular European brands:
      </p>
      <div class="autos-inner">
        <ul class="autos-grid">
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/audi-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                AUDI
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/bentley-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                Bentley
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/bmw-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                BMW
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/jaguar-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                Jaguar
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/land-rover-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                LAND ROVER
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
        </ul>
        <ul class="autos-grid">
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/lexus-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                LEXUS
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/maserati-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                MASERATI
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/mercedes-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                MERCEDES
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/mini-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                MINI
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/porsche-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                PORSCHE
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
        </ul>
        <ul class="autos-grid autos-grid--short">
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/volkswagen-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                VOLKSWAGEN
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/volvo-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                VOLVO
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/asian-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                ASIAN IMPORT
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
          <li class="autos-item">
            <a href="#" class="autos-item__image">
              <img src="../img/autos/domestic-image.webp" alt="car-image">
            </a>
            <div class="autos-item__info">
              <div class="autos-item__name">
                DOMESTIC
              </div>
              <a href="#" class="autos-item__link global-link">
                Read More
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
