<section class="contact">
  <div class="contact-container container">
    <div class="contact-body section-spacing">
      <div class="contact-header">
        <h1 class="global-title">
          EXPERIENCE THE DIFFERENCE
        </h1>
        <p class="global-text">
          Visit World Class Auto today and experience first-hand how we bring world-class electrical repair services to the cars we love. When it comes to electrical repairs for your luxury automobile, don’t settle for anything less than World Class. Schedule your appointment today and let us redefine your vehicle’s performance.
        </p>
      </div>
      <div class="contact-grid">
        <div class="contact-item">
          <div class="contact-item__inner">
            <div class="contact-top">
              <div class="contact-title">
                SERVICE HOURS
              </div>
            </div>
            <ul class="contact-table">
              <li class="contact-table__item">
                <span>Monday : </span>
                <span>7:30AM – 5:30PM</span>
              </li>
              <li class="contact-table__item">
                <span>Tuesday :</span>
                <span>7:30AM – 5:30PM</span>
              </li>
              <li class="contact-table__item">
                <span>Wednesday :</span>
                <span>7:30AM – 5:30PM</span>
              </li>
              <li class="contact-table__item">
                <span>Thursday : </span>
                <span>7:30AM – 5:30PM</span>
              </li>
              <li class="contact-table__item">
                <span>Friday :  </span>
                <span>7:30AM – 5:30PM</span>
              </li>
              <li class="contact-table__item">
                <span>Saturday : </span>
                <span>7:30AM – 5:30PM</span>
              </li>
              <li class="contact-table__item">
                <span>Sunday :  </span>
                <span>7:30AM – 5:30PM</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="contact-item contact-item--orange">
          <div class="contact-item__inner">
            <div class="contact-top">
              <div class="contact-title">
                BOOK APPOINTMENT
              </div>
            </div>
            <div class="contact-info">
              <p>
                We’re here to help drivers all throughout the Boca Raton area take better care of their vehicles. Please call or visit our shop today to learn more or to schedule your next appointment.
              </p>
            </div>
            <a href="#" class="contact-button button">
              <span class="button-text">
                Book APPOINTMENT
              </span>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="contact-item__inner">
            <div class="contact-top">
              <div class="contact-title">
                CONTACT US
              </div>
            </div>
            <div class="contact-flex">
              <div class="contact-flex__item">
                <div class="contact-flex__header">
                  CAll US
                </div>
                <a href="tel:9547905767" class="contact-flex__link">
                  (954) 790-5767
                </a>
              </div>
              <div class="contact-flex__item">
                <div class="contact-flex__header">
                  Address
                </div>
                <a href="#" class="contact-flex__link">
                  4038 NE 5th Terrace Oakland Park
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
