<footer class="footer">
  <div class="footer-container container">
    <div class="footer-body">
      <div class="footer-main">
        <div class="footer-col footer-col--uppercase">
          <div class="footer-col__heading">
            Who We Are
          </div>
          <ul class="footer-links">
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Home
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                BRANDS
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                About Us
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                SERVICES
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                PERFORMANCE
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                RESTORATIONS
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                REVIEWS
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                BLOG
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                CONTACT US
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-col">
          <div class="footer-col__heading">
            Our Services
          </div>
          <ul class="footer-links">
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                A/C Service & Repair
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Battery Services
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Brake Service & Repair
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Check Engine Light Maintenance
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Clutch Repairs
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Diagnostic Inspections
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Electrical Repair
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Engine Repairs
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Exhaust Repair
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-col">
          <div class="footer-col__heading">

          </div>
          <ul class="footer-links">
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Factory Scheduled Services
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Flash & Reprograming
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Oil Change Services
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Oil Leak Repair
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Suspension Repair
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Tire Services
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Transmission Repair
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Wheel Alignments
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-col footer-col--uppercase">
          <div class="footer-col__heading">
            Our Services
          </div>
          <ul class="footer-links">
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                AUDI
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Bentley
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                BMW
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                Jaguar
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                LAND ROVER
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                LEXUS
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                MASERATI
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                MERCEDES
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-col footer-col--uppercase">
          <div class="footer-col__heading">

          </div>
          <ul class="footer-links">
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                MINI
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                PORSCHE
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                VOLKSWAGEN
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                ASIAN IMPORT
              </a>
            </li>
            <li class="footer-links__item">
              <a href="#" class="footer-links__link">
                DOMESTIC
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-copy">
        Copyright © 2023 BOCA INC.
      </div>
    </div>
  </div>
</footer>
