<section class="form section-spacing">
  <div class="form-container">
    <div class="form-header">
      <h1 class="global-title">
        EXPERIENCE THE DIFFERENCE
      </h1>
      <p class="global-text">
        Visit World Class Auto today and experience first-hand how we bring world-class electrical repair services to the cars we love. When it comes to electrical repairs for your luxury automobile, don’t settle for anything less than World Class. Schedule your appointment today and let us redefine your vehicle’s performance.
      </p>
    </div>
  </div>
</section>
