<section class="form section-spacing">
  <div class="form-container container">
    <div class="form-header">
      <h1 class="global-title">
        EXPERIENCE THE DIFFERENCE
      </h1>
      <p class="global-text">
        Visit World Class Auto today and experience first-hand how we bring world-class electrical repair services to the cars we love. When it comes to electrical repairs for your luxury automobile, don’t settle for anything less than World Class. Schedule your appointment today and let us redefine your vehicle’s performance.
      </p>
    </div>
    <form class="form">
      <div class="form-grid">
        <div class="form-floor">
          <div class="form-textarea textarea">
            <input type="text" placeholder="First Name" class="textarea-input">
          </div>
          <div class="form-textarea textarea">
            <input type="text" placeholder="First Name" class="textarea-input">
          </div>
          <div class="form-textarea textarea">
            <input type="email" placeholder="Email`" class="textarea-input">
          </div>
          <div class="form-textarea textarea">
            <input type="tel" placeholder="Phone" class="textarea-input">
          </div>
        </div>
        <div class="form-floor">
          <div class="form-box">
            <div class="form-box__label">Request Appointment Date <span>*</span></div>
            <div class="form-flex">
              <div class="form-flex__item textarea">
                <input type="text" placeholder="MM" class="textarea-input">
              </div>
              <span>/</span>
              <div class="form-flex__item textarea">
                <input type="text" placeholder="DD" class="textarea-input">
              </div>
              <span>/</span>
              <div class="form-flex__item textarea">
                <input type="text" placeholder="YYYY" class="textarea-input">
              </div>
            </div>
          </div>
          <div class="form-box">
            <div class="form-box__label">Time <span>*</span></div>
            <div class="form-flex form-flex--3">
              <div class="form-flex__item textarea">
                <input type="text" placeholder="HH" class="textarea-input">
              </div>
              <span>:</span>
              <div class="form-flex__item textarea">
                <input type="text" placeholder="MM" class="textarea-input">
              </div>
            </div>
          </div>
          <div class="form-textarea textarea">
            <input type="tel" placeholder="Vehicle Year" class="textarea-input">
          </div>
          <div class="form-textarea textarea">
            <input type="tel" placeholder="Vehicle Model" class="textarea-input">
          </div>
          <div class="form-message">
            <textarea class="form-message__input textarea-input" placeholder="Message"></textarea>
          </div>
        </div>
      </div>
      <button class="form-submit button button--green" type="submit">
        <span class="button-text">
          SUBMIT
        </span>
      </button>
    </form>
  </div>
</section>
