<header class="header">
  <div class="header-container container">
    <div class="header-body">
      <a href="/" class="header-logo">
        <img class="header-logo__desktop" src="../img/header/header-logo.svg" alt="logo-icon">
        <img class="header-logo__mob" src="../img/header/logo-mob.svg" alt="logo-icon">
      </a>
      <div class="header-row">
        <div class="header-top">
          <div class="header-flex header-flex--between">
            <div class="header-col header-col--row">
              <a href="#" class="header-link">
                <img src="../img/header/location-icon.svg" alt="header-icon">
                <span class="header-link__text">4038 NE 5th Terrace Oakland Park</span>
              </a>
              <a href="#" class="header-link">
                <img src="../img/header/phone-icon.svg" alt="header-icon">
                <span class="header-link__text">(954) 790-5767</span>
              </a>
            </div>
            <div class="header-col">
              <ul class="socials">
                <li class="socials-item">
                  <a href="#" target="_blank" class="socials-link">
                    <img src="../img/header/header-google-icon.svg" alt="socialIcon">
                  </a>
                </li>
                <li class="socials-item">
                  <a href="#" target="_blank" class="socials-link">
                    <img src="../img/reviews/fb-icon.svg" alt="socialIcon">
                  </a>
                </li>
                <li class="socials-item">
                  <a href="#" target="_blank" class="socials-link">
                    <img src="../img/reviews/flower-icon.svg" alt="socialIcon">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="header-flex">
            <nav class="nav">
              <ul class="nav-list">
                <li class="nav-item">
                  <a href="#" class="nav-link" target="_blank">
                    Home
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link" target="_blank">
                    BRANDS
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link" target="_blank">
                    About Us
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link" target="_blank">
                    SERVICES
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link" target="_blank">
                    PERFORMANCE
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link" target="_blank">
                    RESTORATIONS
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link" target="_blank">
                    REVIEWS
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link" target="_blank">
                    BLOG
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link" target="_blank">
                    CONTACT US
                  </a>
                </li>
              </ul>
            </nav>
            <button class="button button--rotate">
              <span class="button-text">
                APPOINTMENT
              </span>
            </button>
          </div>
        </div>
      </div>
      <button class="header-burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
