<section class="news">
  <div class="news-container container">
    <div class="news-body">
      <ul class="news-grid">
        <li class="news-item">
          <a class="news-item__preview">
            <img src="../img/news/news-preview.webp" alt="news-image-preview">
          </a>
          <div class="news-item__info">
            <div class="news-item__heading">
              Top Reasons Why Your BMW Is Facing Breathing Issues
            </div>
            <div class="news-item__description">
              <p>
                Is your beloved BMW suddenly feeling a bit sluggish on the road? Do you find yourself wondering why your car's performance has taken a nosedive?
              </p>
            </div>
            <a href="#" class="news-item__link">
              <span>Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6.5293 4L11.0586 8.52935L6.5293 13.0587" stroke="#303030" stroke-width="1.5"/>
              </svg>
            </a>
          </div>
        </li>
        <li class="news-item">
          <a class="news-item__preview">
            <img src="../img/news/news-preview.webp" alt="news-image-preview">
          </a>
          <div class="news-item__info">
            <div class="news-item__heading">
              Top Reasons Why Your BMW Is Facing Breathing Issues
            </div>
            <div class="news-item__description">
              <p>
                Is your beloved BMW suddenly feeling a bit sluggish on the road? Do you find yourself wondering why your car's performance has taken a nosedive?
              </p>
            </div>
            <a href="#" class="news-item__link">
              <span>Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6.5293 4L11.0586 8.52935L6.5293 13.0587" stroke="#303030" stroke-width="1.5"/>
              </svg>
            </a>
          </div>
        </li>
        <li class="news-item">
          <a class="news-item__preview">
            <img src="../img/news/news-preview.webp" alt="news-image-preview">
          </a>
          <div class="news-item__info">
            <div class="news-item__heading">
              Top Reasons Why Your BMW Is Facing Breathing Issues
            </div>
            <div class="news-item__description">
              <p>
                Is your beloved BMW suddenly feeling a bit sluggish on the road? Do you find yourself wondering why your car's performance has taken a nosedive?
              </p>
            </div>
            <a href="#" class="news-item__link">
              <span>Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6.5293 4L11.0586 8.52935L6.5293 13.0587" stroke="#303030" stroke-width="1.5"/>
              </svg>
            </a>
          </div>
        </li>
        <li class="news-item">
          <a class="news-item__preview">
            <img src="../img/news/news-preview.webp" alt="news-image-preview">
          </a>
          <div class="news-item__info">
            <div class="news-item__heading">
              Top Reasons Why Your BMW Is Facing Breathing Issues
            </div>
            <div class="news-item__description">
              <p>
                Is your beloved BMW suddenly feeling a bit sluggish on the road? Do you find yourself wondering why your car's performance has taken a nosedive?
              </p>
            </div>
            <a href="#" class="news-item__link">
              <span>Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6.5293 4L11.0586 8.52935L6.5293 13.0587" stroke="#303030" stroke-width="1.5"/>
              </svg>
            </a>
          </div>
        </li>
        <li class="news-item">
          <a class="news-item__preview">
            <img src="../img/news/news-preview.webp" alt="news-image-preview">
          </a>
          <div class="news-item__info">
            <div class="news-item__heading">
              Top Reasons Why Your BMW Is Facing Breathing Issues
            </div>
            <div class="news-item__description">
              <p>
                Is your beloved BMW suddenly feeling a bit sluggish on the road? Do you find yourself wondering why your car's performance has taken a nosedive?
              </p>
            </div>
            <a href="#" class="news-item__link">
              <span>Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6.5293 4L11.0586 8.52935L6.5293 13.0587" stroke="#303030" stroke-width="1.5"/>
              </svg>
            </a>
          </div>
        </li>
        <li class="news-item">
          <a class="news-item__preview">
            <img src="../img/news/news-preview.webp" alt="news-image-preview">
          </a>
          <div class="news-item__info">
            <div class="news-item__heading">
              Top Reasons Why Your BMW Is Facing Breathing Issues
            </div>
            <div class="news-item__description">
              <p>
                Is your beloved BMW suddenly feeling a bit sluggish on the road? Do you find yourself wondering why your car's performance has taken a nosedive?
              </p>
            </div>
            <a href="#" class="news-item__link">
              <span>Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6.5293 4L11.0586 8.52935L6.5293 13.0587" stroke="#303030" stroke-width="1.5"/>
              </svg>
            </a>
          </div>
        </li>
        <li class="news-item">
          <a class="news-item__preview">
            <img src="../img/news/news-preview.webp" alt="news-image-preview">
          </a>
          <div class="news-item__info">
            <div class="news-item__heading">
              Top Reasons Why Your BMW Is Facing Breathing Issues
            </div>
            <div class="news-item__description">
              <p>
                Is your beloved BMW suddenly feeling a bit sluggish on the road? Do you find yourself wondering why your car's performance has taken a nosedive?
              </p>
            </div>
            <a href="#" class="news-item__link">
              <span>Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6.5293 4L11.0586 8.52935L6.5293 13.0587" stroke="#303030" stroke-width="1.5"/>
              </svg>
            </a>
          </div>
        </li>
        <li class="news-item">
          <a class="news-item__preview">
            <img src="../img/news/news-preview.webp" alt="news-image-preview">
          </a>
          <div class="news-item__info">
            <div class="news-item__heading">
              Top Reasons Why Your BMW Is Facing Breathing Issues
            </div>
            <div class="news-item__description">
              <p>
                Is your beloved BMW suddenly feeling a bit sluggish on the road? Do you find yourself wondering why your car's performance has taken a nosedive?
              </p>
            </div>
            <a href="#" class="news-item__link">
              <span>Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6.5293 4L11.0586 8.52935L6.5293 13.0587" stroke="#303030" stroke-width="1.5"/>
              </svg>
            </a>
          </div>
        </li>
        <li class="news-item">
          <a class="news-item__preview">
            <img src="../img/news/news-preview.webp" alt="news-image-preview">
          </a>
          <div class="news-item__info">
            <div class="news-item__heading">
              Top Reasons Why Your BMW Is Facing Breathing Issues
            </div>
            <div class="news-item__description">
              <p>
                Is your beloved BMW suddenly feeling a bit sluggish on the road? Do you find yourself wondering why your car's performance has taken a nosedive?
              </p>
            </div>
            <a href="#" class="news-item__link">
              <span>Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6.5293 4L11.0586 8.52935L6.5293 13.0587" stroke="#303030" stroke-width="1.5"/>
              </svg>
            </a>
          </div>
        </li>
        <li class="news-item">
          <a class="news-item__preview">
            <img src="../img/news/news-preview.webp" alt="news-image-preview">
          </a>
          <div class="news-item__info">
            <div class="news-item__heading">
              Top Reasons Why Your BMW Is Facing Breathing Issues
            </div>
            <div class="news-item__description">
              <p>
                Is your beloved BMW suddenly feeling a bit sluggish on the road? Do you find yourself wondering why your car's performance has taken a nosedive?
              </p>
            </div>
            <a href="#" class="news-item__link">
              <span>Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6.5293 4L11.0586 8.52935L6.5293 13.0587" stroke="#303030" stroke-width="1.5"/>
              </svg>
            </a>
          </div>
        </li>
        <li class="news-item">
          <a class="news-item__preview">
            <img src="../img/news/news-preview.webp" alt="news-image-preview">
          </a>
          <div class="news-item__info">
            <div class="news-item__heading">
              Top Reasons Why Your BMW Is Facing Breathing Issues
            </div>
            <div class="news-item__description">
              <p>
                Is your beloved BMW suddenly feeling a bit sluggish on the road? Do you find yourself wondering why your car's performance has taken a nosedive?
              </p>
            </div>
            <a href="#" class="news-item__link">
              <span>Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6.5293 4L11.0586 8.52935L6.5293 13.0587" stroke="#303030" stroke-width="1.5"/>
              </svg>
            </a>
          </div>
        </li>
        <li class="news-item">
          <a class="news-item__preview">
            <img src="../img/news/news-preview.webp" alt="news-image-preview">
          </a>
          <div class="news-item__info">
            <div class="news-item__heading">
              Top Reasons Why Your BMW Is Facing Breathing Issues
            </div>
            <div class="news-item__description">
              <p>
                Is your beloved BMW suddenly feeling a bit sluggish on the road? Do you find yourself wondering why your car's performance has taken a nosedive?
              </p>
            </div>
            <a href="#" class="news-item__link">
              <span>Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6.5293 4L11.0586 8.52935L6.5293 13.0587" stroke="#303030" stroke-width="1.5"/>
              </svg>
            </a>
          </div>
        </li>
      </ul>
      <div class="news-pagination">
        <ul class="pagination">
          <li class="pagination-item pagination-item--active">
            1
          </li>
          <li class="pagination-item">
            2
          </li>
          <li class="pagination-item">
            3
          </li>
          <li class="pagination-item">
            4
          </li>
          <li class="pagination-item">
            5
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
