<section class="reviews section-spacing">
  <div class="reviews-container container">
    <div class="reviews-body">
      <ul class="reviews-list">
        <li class="reviews-item">
          <div class="reviews-item__header">
            <div class="reviews-item__name">
              <div class="reviews-item__icon">
                <img src="../img/reviews/google-icon.svg" alt="google-icon">
              </div>
              <div class="reviews-item__name-text">
                Adam Smith
              </div>
            </div>
            <ul class="reviews-rate">
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
            </ul>
          </div>
          <div class="reviews-item__info">
            <p>
              I brought my BMW to World Class Auto because my car would not start, I originally had my car at the dealership for 3 weeks and they could not repair my car, a friend of mine recommended World Class Auto and they repaired the electrical system in 1 day at a very reasonable price. The staff are very knowledgeable and very nice. I finally found a great
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-item__header">
            <div class="reviews-item__name">
              <div class="reviews-item__icon">
                <img src="../img/reviews/fb-icon.svg" alt="google-icon">
              </div>
              <div class="reviews-item__name-text">
                Smith Adam
              </div>
            </div>
            <ul class="reviews-rate">
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
            </ul>
          </div>
          <div class="reviews-item__info">
            <p>
              I brought my BMW to World Class Auto because my car would not start, I originally had my car at the dealership for 3 weeks and they could not repair my car, a friend of mine recommended World Class Auto and they repaired the electrical system in 1 day at a very reasonable price. The staff are very knowledgeable and very nice. I finally found a great
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-item__header">
            <div class="reviews-item__name">
              <div class="reviews-item__icon">
                <img src="../img/reviews/google-icon.svg" alt="google-icon">
              </div>
              <div class="reviews-item__name-text">
                Adams Smithers
              </div>
            </div>
            <ul class="reviews-rate">
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
            </ul>
          </div>
          <div class="reviews-item__info">
            <p>
              I brought my BMW to World Class Auto because my car would not start, I originally had my car at the dealership for 3 weeks and they could not repair my car, a friend of mine recommended World Class Auto and they repaired the electrical system in 1 day at a very reasonable price. The staff are very knowledgeable and very nice. I finally found a great
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-item__header">
            <div class="reviews-item__name">
              <div class="reviews-item__icon">
                <img src="../img/reviews/fb-icon.svg" alt="google-icon">
              </div>
              <div class="reviews-item__name-text">
                Adam Smith
              </div>
            </div>
            <ul class="reviews-rate">
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
            </ul>
          </div>
          <div class="reviews-item__info">
            <p>
              I brought my BMW to World Class Auto because my car would not start, I originally had my car at the dealership for 3 weeks and they could not repair my car, a friend of mine recommended World Class Auto and they repaired the electrical system in 1 day at a very reasonable price. The staff are very knowledgeable and very nice. I finally found a great
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-item__header">
            <div class="reviews-item__name">
              <div class="reviews-item__icon">
                <img src="../img/reviews/flower-icon.svg" alt="google-icon">
              </div>
              <div class="reviews-item__name-text">
                Adam Smith
              </div>
            </div>
            <ul class="reviews-rate">
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
            </ul>
          </div>
          <div class="reviews-item__info">
            <p>
              I brought my BMW to World Class Auto because my car would not start, I originally had my car at the dealership for 3 weeks and they could not repair my car, a friend of mine recommended World Class Auto and they repaired the electrical system in 1 day at a very reasonable price. The staff are very knowledgeable and very nice. I finally found a great
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-item__header">
            <div class="reviews-item__name">
              <div class="reviews-item__icon">
                <img src="../img/reviews/fb-icon.svg" alt="google-icon">
              </div>
              <div class="reviews-item__name-text">
                Adam Smith
              </div>
            </div>
            <ul class="reviews-rate">
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
              <li class="reviews-rate__item">
                <img src="../img/reviews/star-icon.svg" alt="star-icon">
              </li>
            </ul>
          </div>
          <div class="reviews-item__info">
            <p>
              I brought my BMW to World Class Auto because my car would not start, I originally had my car at the dealership for 3 weeks and they could not repair my car, a friend of mine recommended World Class Auto and they repaired the electrical system in 1 day at a very reasonable price. The staff are very knowledgeable and very nice. I finally found a great
            </p>
          </div>
        </li>
      </ul>
      <div class="reviews-pagination">
        <ul class="pagination">
          <li class="pagination-item pagination-item--active">
            1
          </li>
          <li class="pagination-item">
            2
          </li>
          <li class="pagination-item">
            3
          </li>
          <li class="pagination-item">
            4
          </li>
          <li class="pagination-item">
            5
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
