<section class="section section-spacing">
  <div class="section-container container">
    <div class="section-body">
      <div class="section-grid">
        <div class="section-col">
          <div class="section-info">
            <h5 class="global-title">BOCA RATON’S LEADERS IN CLASSIC CAR RESTORATIONS</h5>
            <p class="global-text">From minor customizations to full restorations, World Class Auto Repairs has you covered every step of the way. With four bays dedicated to classic vehicle restorations, our experienced technicians are here to help you restore classic cars (1975 & older) to their prime. Please <a href="#" class="global-link">Click Here</a> for More Information on Restorations at World Class Auto Repairs</p>
          </div>
        </div>
        <div class="section-col">
          <div class="section-image">
            <img src="../img/interior-image.webp" alt="section-image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
