<section class="service">
  <div class="service-container container">
    <div class="service-box box">
      <h6 class="global-title">
        Quality Service Guaranteed
      </h6>
      <p class="global-text">
        Our shop always uses the latest factory-grade tools & equipment available. <br> This allows our mechanics to provide your car with all the services it needs to perform its’ best including:
      </p>
      <div class="box-grid">
        <div class="box-col">
          <ul class="box-list">
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                A/C Service & Repair
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Battery Services
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Brake Service & Repair
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Check Engine Light Maintenance
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Clutch Repairs
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Diagnostic Inspections
              </div>
            </li>
          </ul>
        </div>
        <div class="box-col">
          <ul class="box-list">
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Electrical Repair
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Engine Repairs
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Exhaust Repair
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Factory Scheduled Services
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Flash & Reprograming
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Oil Change Services
              </div>
            </li>
          </ul>
        </div>
        <div class="box-col">
          <ul class="box-list">
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Oil Leak Repair
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Suspension Repair
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Tire Services
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Transmission Repair
              </div>
            </li>
            <li class="box-item">
              <span class="box-item__bullet"></span>
              <div class="box-item__info">
                Wheel Alignments
              </div>
            </li>
          </ul>
        </div>
      </div>
      <p class="global-text">
        No matter what your car needs, our certified mechanics have you covered with high-quality service that you can rely on.
      </p>
    </div>
  </div>
</section>
