.banner {
  height: 100vh;
  min-height: 400px;
  padding: 4.625rem 0 4.625rem;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}
